[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.6"


[dev-packages]

"flake8" = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pipenv-to-requirements = "*"
sphinx = "*"
sphinx-autobuild = "*"
pytest-pythonpath = "*"
pytest-env = "*"
pytest-ponyorm = "*"
mimesis = "*"
ipython = "*"
sphinx-rtd-theme = "*"
black = "*"
pdbpp = "*"
sphinxcontrib-napoleon = "*"


[packages]

pbr = ">=3.0"
"psycopg2-binary" = "*"
pony = {editable = true, git = "https://github.com/ponyorm/pony.git", ref = "orm-migrations"}
apistar = "*"
dickens = "*"
pendulum = ">=2.*"
pythonthesorimed = "*"
apistar-ponyorm = ""
apistar-jwt = "*"
sphinx-autodoc-typehints = "*"
