[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[dev-packages]
"flake8" = "*"
yapf = "*"
isort = "*"
pyyaml = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
pipenv-to-requirements = "*"
"flake8-coding" = "*"
"flake8-comprehensions" = "*"
sphinx = "*"
sphinx-autobuild = "*"
pytest-pythonpath = "*"
pytest-env = "*"
pytest-ponyorm = "*"
faker = "*"
mimesis = "*"
ipython = "*"

[packages]
pbr = ">=3.0"
"psycopg2-binary" = "*"
pony = {editable = true, git = "https://github.com/ponyorm/pony.git", ref = "orm-migrations"}
apistar = {ref = "level-up", git = "https://github.com/encode/apistar.git", editable = true}
dickens = "*"
cerberus = "*"
pendulum = "*"
pythonthesorimed = "*"
apistar-ponyorm = "*"
apistar-cerberus = "*"
